


header {
  /* background-color: #e2e2e2; */
  padding: 2px;
  max-height: 100px;
}

h1 {
  margin: 0;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}

h2{
  text-align: center;
}

p {
  text-align: center;
}

.mainText{
  margin-top: 35px; 
  width: 600px; 
  margin-left: auto; 
  margin-right: auto;
}

.nav {
  margin: 0;
  list-style-type: none;
  text-align: center;
  padding: 0;
}

.nav li {
  display: inline-block;
}

.nav a {
  color: white;
  display: inline-block;
  padding: 0.5em 0.75em;
  background-color: rgb(99, 94, 92);
  border-radius: 14px;
  text-decoration: none;
}

.nav .current{
  background-color: rgb(215, 81, 66);
}

.nav a:hover{
  color: rgb(30, 30, 30);
  background-color: rgb(255, 129, 114);
}


/* Styling two point slider */
.container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  width: 550px;
  height: 50px;
  background: rgb(22, 30, 35);
  border-radius: 20px;
  padding-top: 40px;
  padding-bottom: 40px;
}

.container input[type="number"]{
  width: 50px;
  height: 30px;
  background: #fff;
  border: 1px solid #ddd;
  font-size: 15px;
  font-weight: 700;
  text-align: center;
  border-radius: 5px;
}

.container input[type="number"]::-webkit-outer-spin-button,
.container input[type="number"]::-webkit-inner-spin-button{
  -webkit-appearance: none;
}

.container .range-slider{
  position: relative;
  width: 150px;
  height: 7px;
  background: #EFEFEF;
  /* border: 1px solid #B2B2B2; */
  outline: none;
  top: 1px;
  margin: 10px;
  border-radius: 5px;
}

.container .range-slider .progress{
  left: 40%;
  right: 40%;
  height: 100%;
  background: #0075FF;
  border-radius: 50px;
  position: absolute;
}

.container .range-slider input[type="range"]{
  position: absolute;
  top: -8px;
  left: -5px;
  width: 101%;
  -webkit-appearance: none;
  pointer-events: none;
  background: none;
  outline: none;
}

.container .range-slider input::-webkit-slider-thumb{
  pointer-events: auto;
  -webkit-appearance: none;
  width: 17px;
  height: 17px;
  background: #0075FF;
  border-radius: 50px;
}





.container .range-slider2{
  position: relative;
  width: 150px;
  height: 7px;
  background: #EFEFEF;
  /* border: 1px solid #B2B2B2; */
  outline: none;
  top: 1px;
  margin: 10px;
  border-radius: 5px;
}

.container .range-slider2 .progress{
  left: 40%;
  right: 40%;
  height: 100%;
  background: #0075FF;
  border-radius: 50px;
  position: absolute;
}

.container .range-slider2 input[type="range"]{
  position: absolute;
  top: -8px;
  left: -5px;
  width: 101%;
  -webkit-appearance: none;
  pointer-events: none;
  background: none;
  outline: none;
}

.container .range-slider2 input::-webkit-slider-thumb{
  pointer-events: auto;
  -webkit-appearance: none;
  width: 17px;
  height: 17px;
  background: #0075FF;
  border-radius: 50px;
}

/* Two column styling */
*{
  box-sizing: border-box;
}

.columns {
  float: left;
  width: 50%;
  padding: 12px;
  min-height: 300px;
  border-color: azure; border: 1px;
}

.rows:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 800px){
  .columns{
    width: 100%;
  }
}



/* Standard sliders */

.standardSlider{
  text-align: right;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  padding: 10px;
}

.standardSliderHome{
  /* background-color: bisque; */
  height: auto;
  width: 180px;
  /* float: none; */
  display: inline-block;
  text-align: center;
  /* margin-left: auto;
  margin-right: auto; */
  justify-content: center;
  padding: 10px;
  
}




